
/*Defino Largura da div resumos e coloco uma cor de fundo*/
/*coloco um paddin e uma borda esquerda de 1px*/
.resumos{
    
    width: 45%;
    background-color: #ebebeb;
    padding: 10px;
    border-left: 1px solid #deddde;
}

/*Retirar bolet point*/
/*Coloco os elementos em linha*/
/*Coloco uma borda inferior e um padding-bottom de 15px*/
.resumos .produtos li{
    list-style: none;
    display: flex;
    border-bottom: 1px solid #dadada;
    padding-bottom: 15px;
    padding-top: 15px;
}

/*Retiro a borda inferior do ultimo item*/
.resumos .produtos li:last-child {
    border: none;
}


/*Ajusto o preço para 80% de largura/ margem de 10px*/
/*coloco um abaixo do outro*/
.resumos .produtos .detalhes{
    width: 80%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

/*Ajusto o h3(descrição do produto)*/
.resumos .produtos li .detalhes h3{
    color:#777879;
    font-size: 12px;
    font-family: 'muliextrabold';
    margin-bottom: 4px;
}


/*Ajusta o small*/
.resumos .produtos li .detalhes small{
    font-size: 10px;
    font-family: 'muliextralight_italic';
    color: #4a4a4a;
    margin-bottom: 4px;
}


/*Ajusta o span*/
.resumos .produtos li .detalhes span{
    font-size: 10px;
    font-family: 'muliextrabold';
    color: #9c9c9c; 
}


/*Ajusta o preço*/
.resumos .produtos li .preco{
    color:#777879;
    font-size: 12px;
    font-family: 'muliextrabold';
    
}


/*Ajuste da tabela*/
/*Largura de 100%, borda superior, zerou espaço*/
.resumos table{
    border-spacing: 0;
    width: 100%;
    border-top: 1px solid #d6d4d7;
    color: #777879;
    font-size: 12px;
    margin-top: 84px;
}

/*coloca o th que é o cabeçalho da tabela totalmente a esquerda*/
.resumos table th{
    text-align: left;
}

/*coloca o td que é o cabeçalho da tabela totalmente a direita*/
.resumos table td{
    text-align: right;
    padding-top: 7px;
    padding-bottom: 7px
}

/*coloca uma borda superior Acima dos elementos de tfoot*/
.resumos table tfoot *{
    border-top: 1px solid #d6d4d7;
    font-family: 'muliextrabold';
    padding-top: 7px;
}




